body{
    background-color: white;
}

p,h1,h2,h3,span{
    color: black;
}

.header__container{
    display: flex;
    justify-content: center;
}

.header__list-item{
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(175,175,175,0.1);
}

.header__item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.header__wrapper{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__list{
    list-style: none;
    display: flex;
    gap: 25px;
}

.main__container-items{
    display: flex;
    justify-content: center;
}

.main__items-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.main__item-favorite{
    background-color: inherit;
    padding: 0;
    transition: none;
    border: 0;
}

.main__item-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px;

}

.main__item-name{
    font-size: 25px;
}

.main__item-price{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.main__item{
    background-color: rgba(0,0,0,0.1);
    border-radius: 25px;
    padding: 20px 10px;
}

.main__item-button-boughted{
    background-color: grey;
    border-radius: 8px;
    padding: 0.6em 1.2em;
}